
<h2> Articles </h2>

<table class='table'>
  <thead>
    <tr>
      <th>Id</th>
      <th>Name</th>
    </tr>
  </thead>
  <% @articles.each do |art| %>
    <tr>
      <td> <%= art.id %></td>
      <td> <%= art.name %></td>
      <td> <%= link_to( 'Edit', edit_user_path(id:art.id)) %> </td>
    </tr>
  <% end %>
</table>
