
<h2> Articles </h2>
<hr>

<table class='table table-striped'>
  <thead>
    <tr>
      <th>Id</th>
      <th>Name</th>
      <th>Status</th>
      <th></th>
    </tr>
  </thead>
  <% @articles.each do |art| %>
    <tr>
      <td> <%= art.id %></td>
      <td> <%= art.name %></td>
      <td> <%= art.state %></td>
      <td> <%= link_to( 'Edit', edit_article_path(id:art.id)) %> </td>
    </tr>
  <% end %>
</table>
