<table class='table'>
  <thead>
    <tr>
      <th>Id</th>
      <th>Email</th>
    </tr>
  </thead>
  <% @users.each do |u| %>
    <tr>
      <td> <%= u.id %></td>
      <td> <%= u.email %></td>
      <td> <%= link_to( 'Edit', edit_user_registration_path(u.id)) %> </td>
    </tr>
  <% end %>
</table>
