// Place all the styles related to the articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.article-form {

  width:800px;

  .text-area-width {
    width:500px;
    resize: none;
  }
  .text-width {
    width:300px;
  }

  .text-primary {
    color: #428BCA;
  }

  .article-name
  {
    /*font-weight: normal;*/
  }

  .article-state
  {
    margin-left: 10px;
    vertical-align: middle !important;
  }

}
